/*
STYLE FOR MOBILE DESIGN
*/

.flex-container {
 
  list-style: none;
  
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-around;
}



body{
	font-size:16px;
	background-color:#f0f0f0;
	font-family: "Raleway";
	font-weight:200;
	text-align:center;
	color:#313131;
	margin:0;
}

.slider{
	width:100%;
}

p {
	width:90%;
	display:block;
	margin:30px auto;
}

section{
	padding-top:50px;
	padding-bottom:50px;
}


img {
		width:15%;
	}
	
h2 {
	width:100%;
}
	
#thirds{
	background-color:#d7d7d7;
	overflow:hidden;
	margin-bottom:100px;
	width:100%;
}

article {
	width:60%;
	margin: 20px auto;
	padding:80px 20px;
	background-color:#f0f0f0;
}

article:hover:not(.half) {
    animation-name: articlehover;
    animation-duration: 0.3s;
	box-shadow: 0 4px 18px 0 rgba(103, 121, 140, 0.2), 0 6px 20px 0 rgba(103, 121, 140, 0.5);
}

a {
	text-decoration:none;
	color:#313131;
}

@keyframes articlehover {
    from {box-shadow: 0px 0px rgba(103, 121, 140, 0.2);}
    to {box-shadow: 0 4px 18px 0 rgba(103, 121, 140, 0.2), 0 6px 20px 0 rgba(103, 121, 140, 0.5);}
}

ul {
	width:100%;
	margin:10px 0;
	padding:0;
}

li {
	list-style:none;
	text-decoration:none;
	display:inline;
}

.filternav li {
	display:inline-block;
	padding:0 10px;
	border-right:1px solid black;
	font-size:0.8em;
}

li:last-of-type {
  border-right:none;
}

.filternav li a {
	text-decoration:none;
}

.half {
	text-align:left;
	padding:0 10px;
	margin:0 auto;
}

	
article p {
	width:80%;	
}

.contactpage {
	width:100%;
	margin:20px 0;
}

.circle {
	background-color:#313131;
	color:#f0f0f0;
	border-radius: 50%;
	margin-bottom:50px;
	height: 100px;
	width:250px;
	margin-left:10px;
	margin-right:10px;
	transition: all .3s ease-in-out;
}

.circle:hover {
    animation-name: cirlcehover;
    animation-duration: 0.4s;
	background-color: #67798c;
	transform:scale(1.1);
}


@keyframes cirlcehover {
    from {background-color: #313131;}
    to {background-color: #67798c;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: #313131;}
    to {background-color: #67798c;}
}

.circle img {
	width:30%;
}


/*FORM DESIGN */
input[type=text], textarea {
	font-family:'Raleway';
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #313131;
    box-sizing: border-box;
	background-color:#f0f0f0;
	resize:none;
}

input[type=text]:hover, textarea:hover {
	border-color:#d7d7d7;
}

textarea {
	height:150px;
}

input[type=submit], button {
	text-align:left;
    width: 100%;
    background-color: #313131;
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	transition: all .3s ease-in-out;
}

input[type=submit]:hover, button:hover{
	transform:scale(1.1);
	background-color:#67798c;
	
}


/*END OF FORM DESIGN */

button {
	text-align: center;
	width:90%;
	font-weight:700;
}

/*Category ids background images */

#website1{
	background-image: url("../img/unity-logo.png");
	background-size:100%;
}
#website2{
	background-image: url("../img/dbl-logo.png");
	background-size:100%;
}
#website3{
	background-image: url("../img/ep-logo.png");
	background-size:100%;
}
#website4{
	background-image: url("../img/avstore-logo.png");
	background-size:100%;
}
#website5{
	background-image: url("../img/avstore-logo.png");
	background-size:100%;
}
#website6{
	background-image: url("../img/avstore-logo.png");
	background-size:100%;
}
#website7{
	background-image: url("../img/avstore-logo.png");
	background-size:100%;
}
#website8{
	background-image: url("../img/avstore-logo.png");
	background-size:100%;
}
#print1{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#print2{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#print3{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#print4{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#graphic1{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#graphic2{
	background-image: url("../img/macbook_localization_feat.jpg");
}
#graphic3{
	background-image: url("../img/macbook_localization_feat.jpg");
}

/*animation for social icons */

.rolloversocial:hover {
	animation: animateicons 2s infinite;
	cursor:pointer;
}

@keyframes animateicons {
	25% { border-radius: 40%; transform: rotate(14deg);}
	50% { border-radius: 50%; transform: rotate(0deg);}
}

/*Image design for accessibility at the top of the page */
.access {
	top:0;
	width:50px;
	float:right;
}

.access:hover {
	cursor:pointer;
}

/*
END OF STYLE FOR MOBILE DESIGN
*/






/*
TABLET SIZE SCREEN
*/
@media screen and (min-width: 750px) {
	
	.slider {
	width:90%;
}

	p {
		width:70%;
		font-size:0.9em;
	}
	
	img {
		width:15%;
	}
	
	article {
	
		margin:0px 1%;
		padding:50px 10px;
		width:25%;
	}
	
	article p {
		width:80%;	
	}
	
	.circle {
		height:150px;
	}
	
	.half {
		padding-bottom:20px;
		width:70%;
		text-align:center;
	}
	
	li a img {
		width:30px;
	}
	
	.filternav li {
		font-size:1em;
	}
	
	button {
		width:90%;
	}
	
}
/*
END OF TABLET SIZE SCREEN
*/

/*
DESKTOP SIZE SCREEN
*/
@media screen and (min-width: 1100px) {

	p {
		display:block;
		margin:30px auto;
		width:50%;
	}
	
	.slider {
		width:60%;
	}
	
	article {
	
		margin:0px 5%;
		padding:50px 10px;
		width:20%;
	}
	
	article p {
		width:50%;	
	}

	.half {
		width:30%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	
	ul {
		margin-top:30px;
	}
	
	.flex-container {
		width:1100px;
		margin:0 auto;
		justify-content:center;
	}
	
	button {
		width:100%;
		margin-left:100px;
	}
	
	
	.cta {
		display:inline-block;
	}
	
	li {
		display:inline;
	}
	
	
}
/*
END OF DESKTOP SIZE SCREEN
*/


/*
MAX FIXED STYLE FOR XL SIZE SCREEN
*/
@media screen and (min-width: 1500px) {
   
   
   p {
	
		width:750px;
	}
	
	.slider {
		width:900px;
	}
	
	article {
		margin:0 50px;
		width:300px;
}

	.half {
			width:450px;
		}
   
}
/*
END OF MAX FIXED STYLE FOR XL SIZE SCREEN
*/